/* Main CSS 
https://source.unsplash.com/collection/963744
*/

body,
html {
    height: 100%;
    margin: 0;
}

.body_back {
    /* The image used */
    background-image: url("https://source.unsplash.com/collection/1329013");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    /*background: url('/img/default_background_2.jpg') no-repeat center center fixed;*/
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    color: #3273DC;
    text-decoration: none !important;
    font-size: 10px;
}
/* Date Time Section*/
span.day {
	font-size: 5em;
	color: #eee;
	padding-right: 5px;
}
p.month {
	display: inline-block;
	position: relative;
	bottom: 35px;
	font-size: 18px;
	padding: 5px;
	text-decoration: overline;
	font-variant: small-caps;
}
.date_board {
	margin-top: 5px;
}
span.year {
	display: inline-block;
	right: 2.8em;
	position: relative;
	font-size: 25px;
	text-decoration: overline;
}
.bottomline span {
	font-size: 20px;
	position: relative;
	bottom: 3em;
	padding: 5px;
	color: #fff;
}

.bottomline {
	font-size: 7em;
	color: #fbcb40;
	text-shadow: 1px 2px 10px #555;
}
.search_field {
	padding: 0px 30px;
	text-align: center;
	display: inline-block;
	position: relative;
	background-color: #337ab7;
	border-color: #337ab7;
	color: #fff;
}
.header_search_box input {
	width: 100%;
	padding: 15px;
	border-color: #337ab7;
	background-color: rgba(0,0,0,.075);;
	border: 1px;
}
.upperline {
	color: #fffb01;
	text-shadow: 1px 1px 1px #020202;
	float: left;
}
span.weekday {
	color: #ddd;
	font-size: 20px;
	position: relative;
	top: 26px;
	margin-bottom: 11px;
	bottom: 7px;
}
.checkbox label{
	color:#337ab7;
}
.checkbox{
	text-align: center;
}
input#kensaku_box:focus {
	outline-offset: -3px;
}
.widget-sidebar {
    background-color: rgba(159, 141, 255, 0.23);
    padding: 7px 15px;
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05), 0 6px 20px 0 rgba(0, 0, 0, .04);
    border-radius: 15px;
}
.middle_section {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.top_right {
	display: inline-block;
	position: absolute;
	top: 0;
}
.matcha_article_sec {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
}

.content-widget-sidebar {
	position: relative;
	top: 15px;
	right: 20px;
}

.title_bar {
	font-size: 15px;
	color: #fff;
	background-color: rgba(0,0,0,.25);
	padding: 10px 20px;
}

.recent-post {
	width: 100%;
	list-style-type: none;
	display: inline-block;
	margin-bottom: 5px;
}
#matcha_article{
	width: 350px;
}
.recent-post p {
	font-size: 12px;
}
.post-img,
.recent-post a:hover {
    color: #F39C12;
}

.post-img img {
	width: 60px;
	float: left;
	margin-right: 5px;
	transition: .5s;
	border: 1px solid #f0f8ff;
}

.recent-post a {
    color: #fff;
    transition: 0.5s;
    text-shadow: 1px 1px 1px #000;
}

.recent-post h5 {
    font-size: 12px;
}

.menu_style{
	color: #ead20a;
}

.top_nav h5 {
	margin: 30px 20px 10px 10px;
	text-shadow: 1px 1px 9px #000;
}
.top_nav h5:hover {
	color: #ead20a;
}
.top_nav {
	display: inline-flex;
	position: relative;
	color: #fff;
}


h5.matcha_widget {
    padding-left: 10px;
    color: #ffff00;
}

#typedUrl_div ul {
    margin: 5px 10px;
}

#typedUrl_div li {
	padding: 5px 3px 5px 10px;
	border-bottom: 1px solid #8b0000;
	background-color: rgba(136, 136, 136, 0.09);
}

.widget-sidebar hr {
    border: 0;
    border-top: 1px solid #eee;
}

.flex-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(54, 25, 25, 0.09);
    margin: 0 -8px 0 -15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.width-mobile {
    padding: 15px;
}

.date_time_section {
    position: relative;
		top: 100px;
		padding: 0px 41px;
}

.header_search_box {
	position: relative;
	right: 5%;
	top: 7em;
}

.header_search_box input {
    width: 100%;
    padding: 15px;
}

img.matcha_logo {
    width: 200px;
    margin-left: 20%;
}

.search_field {
    height: 50px;
    border-radius: initial;
}

#typedUrl_div ul {
    list-style-type: none;
    padding: 0;
}

#typedUrl_div li a {
    word-wrap: break-word;
    color: #fff;
}

.recent_history {
    max-width: 220px;
    padding: 5px;
    color: #fff;
    margin-top: 15px;
    border-radius: 15px;
    position: relative;
    z-index: 100;
}

.flex-bottom a {
    font-size: 20px;
    padding: 30px 0;
}

.most-visited-row ul {
    list-style-type: none;
    padding: 0;
}

.most-visited-row li {
	padding: 10px;
	background-color: rgba(136, 136, 136, 0.09);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border: 1px solid rgba(136, 136, 136, 0.09);
	margin-bottom: 5px;
}

button#settings-button {
    position: fixed;
    bottom: 1em;
    right: 1em;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    z-index: 9999;
}

@media screen and (max-width: 720px) {
	.top_nav{
		display: none;
	}
	.matcha_article_sec{
		left: 0;
	}
	.bottomline {
    font-size: 5em;
		float: left;
		top: 30px;
	}
	.middle_section {
    top: 40%;
    left: 40%;
    transform: translate(-60%,-50%);
	}
	.header_search_box{
		display: none;
	}
	.date_time_section {
    position: relative;
		top: 100px;
		min-width: 0px !important;
	}
}
@media screen and (max-width: 1200px) {
	.date_time_section {
		padding: 0;
		min-width: 500px;
	}
}